# 忽略二進位檔、暫存檔、Python 文件等
*.pyc
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.ico
node_modules/
__pycache__/
*.min.js
*.bundle.js
*.map
DjangoAdmin2/**/*.py
DjangoAdmin2/**/*.pyc
DjangoAdmin2/**/*.jpg
DjangoAdmin2/**/*.jpeg
# 忽略無需 ESLint 檢查的檔案
node_modules/
dist/
coverage/
*.min.js
*.bundle.js
*.map
*.log
*.py
*.pyc
*.jpg
*.jpeg
*.png
*.gif
*.svg
__pycache__/
DjangoAdmin2/**/*.py
DjangoAdmin2/**/*.pyc
DjangoAdmin2/**/*.jpg
DjangoAdmin2/**/*.jpeg
DjangoAdmin2/**/*.html
