{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'H-v4/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'H-v4/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'H-v4/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'H-v4/css/style.css' %}">

    <title>{% block title %}管理员面板{% endblock %}</title>
</head>
<body>
    <div class="content">
        <div class="container">
            {% block content %}
            <!-- 討論區管理 -->
            <li>
              <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                  <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                  <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                </svg>
                <span class="ml-3">討論區管理</span>
                <svg class="w-3 h-3 ml-auto transform group-hover:rotate-180 transition-transform" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
              </a>
              <ul class="hidden py-2 space-y-2">
                <li>
                  <a href="{% url 'forum_article_list' %}" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">文章管理</a>
                </li>
                <li>
                  <a href="{% url 'forum_category_list' %}" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">分類管理</a>
                </li>
                <li>
                  <a href="{% url 'forum_tag_list' %}" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">標籤管理</a>
                </li>
                <li>
                  <a href="{% url 'forum_comment_list' %}" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">評論管理</a>
                </li>
              </ul>
            </li>
            {% endblock %}
        </div>
    </div>

    <script src="{% static 'H-v4/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'H-v4/js/popper.min.js' %}"></script>
    <script src="{% static 'H-v4/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'H-v4/js/main.js' %}"></script>
</body>
</html>