{% extends "admin-dashboard/base.html" %}
{% load static %}

{% block title %}個人資料設定{% endblock %}

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>個人資料設定</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        
                        <!-- 頭像預覽與上傳 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">當前頭像</label>
                            <div class="col-sm-10">
                                <img src="{{ request.user.get_avatar_url }}" class="img-circle" style="width: 100px; height: 100px; margin-bottom: 10px;">
                                <input type="file" name="avatar" class="form-control" accept="image/*">
                                <span class="help-block m-b-none">支援 jpg、png 格式的圖片</span>
                            </div>
                        </div>

                        <!-- 用戶名稱 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用戶名稱</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ request.user.username }}</p>
                                <span class="help-block m-b-none">用戶名稱無法修改</span>
                            </div>
                        </div>

                        <!-- 電子信箱 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">電子信箱</label>
                            <div class="col-sm-10">
                                <input type="email" name="email" class="form-control" value="{{ request.user.email }}" required>
                                {% if form.email.errors %}
                                <span class="help-block m-b-none text-danger">{{ form.email.errors.0 }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <!-- 姓名 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10">
                                <input type="text" name="full_name" class="form-control" value="{{ request.user.full_name }}" required>
                                {% if form.full_name.errors %}
                                <span class="help-block m-b-none text-danger">{{ form.full_name.errors.0 }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <!-- 手機號碼 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">手機號碼</label>
                            <div class="col-sm-10">
                                <input type="tel" name="phone" class="form-control" value="{{ request.user.phone }}">
                                {% if form.phone.errors %}
                                <span class="help-block m-b-none text-danger">{{ form.phone.errors.0 }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <!-- 地址 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">地址</label>
                            <div class="col-sm-10">
                                <input type="text" name="address" class="form-control" value="{{ request.user.address }}">
                                {% if form.address.errors %}
                                <span class="help-block m-b-none text-danger">{{ form.address.errors.0 }}</span>
                                {% endif %}
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <!-- 密碼修改區塊 -->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">目前密碼</label>
                            <div class="col-sm-10">
                                <input type="password" name="current_password" class="form-control">
                                {% if form.current_password.errors %}
                                <span class="help-block m-b-none text-danger">{{ form.current_password.errors.0 }}</span>
                                {% endif %}
                                <span class="help-block m-b-none">若要修改密碼，請先輸入目前的密碼</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">新密碼</label>
                            <div class="col-sm-10">
                                <input type="password" name="new_password1" class="form-control">
                                {% if form.new_password1.errors %}
                                <span class="help-block m-b-none text-danger">{{ form.new_password1.errors.0 }}</span>
                                {% endif %}
                                <span class="help-block m-b-none">密碼長度至少8個字元，須包含英文字母和數字</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">確認新密碼</label>
                            <div class="col-sm-10">
                                <input type="password" name="new_password2" class="form-control">
                                {% if form.new_password2.errors %}
                                <span class="help-block m-b-none text-danger">{{ form.new_password2.errors.0 }}</span>
                                {% endif %}
                                <span class="help-block m-b-none">請再次輸入新密碼以確認</span>
                            </div>
                        </div>

                        <!-- 按鈕 -->
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="button" onclick="history.back()">取消</button>
                                <button class="btn btn-primary" type="submit">儲存變更</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script>
$(document).ready(function() {
    // 預覽上傳的頭像
    $('input[name="avatar"]').change(function() {
        if (this.files && this.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $('.img-circle').attr('src', e.target.result);
            }
            reader.readAsDataURL(this.files[0]);
        }
    });

    // 密碼欄位驗證
    $('form').on('submit', function(e) {
        var current_password = $('input[name="current_password"]').val();
        var new_password1 = $('input[name="new_password1"]').val();
        var new_password2 = $('input[name="new_password2"]').val();

        // 如果有填寫任何密碼欄位，就需要進行驗證
        if (new_password1 || new_password2) {
            if (!current_password) {
                alert('請輸入目前的密碼');
                e.preventDefault();
                return false;
            }
            if (new_password1 !== new_password2) {
                alert('新密碼與確認密碼不相符');
                e.preventDefault();
                return false;
            }
            if (new_password1.length < 8) {
                alert('新密碼長度至少需要8個字元');
                e.preventDefault();
                return false;
            }
            if (!/[A-Za-z]/.test(new_password1) || !/[0-9]/.test(new_password1)) {
                alert('新密碼必須包含英文字母和數字');
                e.preventDefault();
                return false;
            }
        }
    });
});
</script>
{% endblock %}