                    <li>
                        <a href="/messages/"><i class="fa fa-envelope"></i> <span class="nav-label">訊息</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/messages/inbox/">收件箱 <span class="label label-warning pull-right">0</span></a></li>
                            <li><a href="/messages/sent/">已發送</a></li>
                            <li><a href="/messages/compose/">撰寫新訊息</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">商城系統</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="#">商品列表</a></li>
                            <li><a href="#">新增商品</a></li>
                            <li><a href="#">訂單管理</a></li>
                        </ul>
                    </li> 